/**
 * 
 * Theme for One Web Boilerplate elements and modules
 * This is just a quick demo, remove/edit this when you start your project
 *
 * @author Aki Karkkainen
 * @url https://github.com/akikoo/one-web-boilerplate
 * Twitter: http://twitter.com/akikoo
 * 
*/
/* ==========================================================================
   Font sizes & line heights are calculated as follows:

   Base font-size: 16px
   Base line-height: 24px (1.5 x 16)

   Element font-size in ems: 
   desired font-size in pixels / parent font-size in pixels.
   
   Line-height & margin-bottom: 
   base line-height in pixels / desired font-size in pixels.
   
   This results in consistent baseline even if element font size decreases or 
   increases.
   ========================================================================== */
/* line 29, ../../scss/components/theme.scss */
header[role="banner"] {
  display: none;
}

/* line 33, ../../scss/components/theme.scss */
.nav-main {
  padding: 0;
}

/* line 37, ../../scss/components/theme.scss */
.footer-main p {
  margin: 0;
}

/* line 41, ../../scss/components/theme.scss */
body {
  font-family: Cambria, Georgia, serif;
  color: #333;
  width: 80%;
  max-width: 48em;
  margin: 0 auto;
}

/* ==========================================================================
   =Headings
   ========================================================================== */
/* line 57, ../../scss/components/theme.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  padding: 0;
}

/* line 63, ../../scss/components/theme.scss */
h1 {
  font-size: 2.25em;
  /*36px*/
  line-height: 1;
  /*36px */
  margin: 0.66666666666667em 0;
}

/* line 69, ../../scss/components/theme.scss */
h2 {
  font-size: 1.5em;
  /*24px*/
  line-height: 1;
  /*24px*/
  margin: 2em 0 0;
  /*48px*/
  color: #839F03;
}

/* line 76, ../../scss/components/theme.scss */
h3 {
  font-size: 1.3125em;
  /*21px*/
  line-height: 1.14285714285714;
  /*24px*/
  margin: 1.14285714285714em 0 0;
  color: #333;
}

/* line 83, ../../scss/components/theme.scss */
h4 {
  font-size: 1.125em;
  /*18px*/
  line-height: 1.33333333333333;
  /*24px*/
  margin: 1.33333333333333em 0 0;
  color: #444;
}

/* line 90, ../../scss/components/theme.scss */
h5 {
  font-size: 1em;
  /*16px*/
  line-height: 1.5;
  /*24px*/
  margin: 1.5em 0 0;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  /*1px*/
  color: #555;
}

/* line 99, ../../scss/components/theme.scss */
h6 {
  font-size: 0.875em;
  /*14px*/
  line-height: 1.71428571428571;
  /*24px*/
  margin: 1.71428571428571em 0 0;
  text-transform: uppercase;
  letter-spacing: 0.07142857142857em;
  /*1px*/
  color: #666;
}

/* ==========================================================================
   =hr
   ========================================================================== */
/* line 112, ../../scss/components/theme.scss */
hr {
  border: none;
  height: 1px;
  background: #ccc;
}

/* ==========================================================================
   =Grouped declarations
   ========================================================================== */
/* line 127, ../../scss/components/theme.scss */
ul,
ol,
hr,
table,
form,
fieldset {
  font-size: 1em;
  /*16px*/
  line-height: 1.5;
  /*24px*/
  margin: 0.75em 0;
  /*12px*/
}

/* ==========================================================================
   =Lists
   ========================================================================== */
/* line 139, ../../scss/components/theme.scss */
ul,
ol,
dl {
  font-size: 1em;
  /*16px*/
  line-height: 1.5;
  /*24px*/
  margin: 0.75em 0;
  /*12px*/
}

/* line 148, ../../scss/components/theme.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
}

/* line 152, ../../scss/components/theme.scss */
dt {
  font-weight: bold;
}

/* ==========================================================================
   =Blockquotes
   ========================================================================== */
/* line 160, ../../scss/components/theme.scss */
blockquote {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0 1em;
  font-family: Palatino, Georgia, serif;
  font-style: italic;
  font-size: 1em;
  /*16px*/
  line-height: 1.5;
  /*24px*/
  margin: 0.75em 0;
  /*12px*/
  letter-spacing: 0.0625em;
  /*1px*/
  color: #888;
  border-color: #ddd;
}

/* ==========================================================================
   =Images
   ========================================================================== */
/* line 178, ../../scss/components/theme.scss */
img {
  background: #fff;
  border: 1px solid #ccc;
  display: block;
  margin: 0;
  max-width: 97%;
  padding: 5px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}

/* ==========================================================================
   =Figures
   ========================================================================== */
/* line 192, ../../scss/components/theme.scss */
figcaption {
  font-family: Palatino, Cambria, Georgia, serif;
  font-style: italic;
  font-size: 1em;
  /*16px*/
  line-height: 1.5;
  /*24px*/
  margin: 0.75em 0;
  /*12px*/
  color: #666;
}

/* ==========================================================================
   =Paragraphs
   ========================================================================== */
/* line 205, ../../scss/components/theme.scss */
p {
  font-size: 1em;
  /*16px*/
  line-height: 1.5;
  /*24px*/
  margin: 0.75em 0;
  /*12px*/
}

/* ==========================================================================
   =Anchors
   ========================================================================== */
/* line 215, ../../scss/components/theme.scss */
a {
  text-decoration: none;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  white-space: pre-wrap;
}

/* line 223, ../../scss/components/theme.scss */
a:link,
a:visited {
  color: #369;
  border-bottom-color: #369;
}

/* line 229, ../../scss/components/theme.scss */
a:hover,
a:focus {
  color: #c03;
  border-bottom-color: #c03;
}

/* line 234, ../../scss/components/theme.scss */
a:active {
  color: #900;
  border-bottom-color: #900;
}

/* ==========================================================================
   =Form elements
   ========================================================================== */
/* line 243, ../../scss/components/theme.scss */
.control-group {
  margin: 0 0 1em 0;
}

/* line 247, ../../scss/components/theme.scss */
fieldset fieldset .control-group {
  margin: 0;
}

/* http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 253, ../../scss/components/theme.scss */
.control-group:before,
.control-group:after {
  content: "";
  display: table;
}

/* line 258, ../../scss/components/theme.scss */
.control-group:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
/* line 263, ../../scss/components/theme.scss */
.ie7 .control-group {
  zoom: 1;
}

/* line 267, ../../scss/components/theme.scss */
label {
  float: left;
  width: 30%;
  cursor: pointer;
}

/* line 274, ../../scss/components/theme.scss */
input[type="radio"],
input[type="checkbox"] {
  float: left;
  width: auto;
  margin: 0 10px 0 30%;
}

/* line 280, ../../scss/components/theme.scss */
.ie7 input[type="radio"] {
  clear: both;
}

/* line 290, ../../scss/components/theme.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
  width: 50%;
}

/* line 303, ../../scss/components/theme.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="button"],
input[type="submit"],
select,
textarea,
button {
  box-shadow: 0 1px 0 #DDDDDD inset;
  font: 300 1em/1.5 "Akagi Book", "Helvetica Neue", Arial, sans-serif;
  padding: 0.25em 2%;
  vertical-align: middle;
}

/* line 314, ../../scss/components/theme.scss */
.control-help {
  margin: 0 0 0 30%;
}

/* line 320, ../../scss/components/theme.scss */
input[type],
textarea,
select {
  padding: 0.125em;
  border: 1px solid #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 329, ../../scss/components/theme.scss */
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* line 355, ../../scss/components/theme.scss */
button,
input[type="button"],
input[type="submit"] {
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
  line-height: 1;
  color: #383838;
  background: #f8f8f8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  /* IE10+ */
  background: linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  /* W3C */
  border: 1px solid #d2d2d2;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 rgba(0, 0, 0, 0.03) inset;
  -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 white inset, 0 -1px 0 rgba(0, 0, 0, 0.03) inset;
}

/* ==========================================================================
   =Module display and source wrappers
   ========================================================================== */
/* line 394, ../../scss/components/theme.scss */
.module {
  margin-bottom: 3em;
}

/* line 398, ../../scss/components/theme.scss */
.module h3 span {
  display: inline-block;
  font-size: 0.85714285714286em;
  /*18px (18/21)*/
  line-height: 1;
  /*18px*/
  padding: 0 3px 3px;
  vertical-align: middle;
}

/* Module display wrapper */
/* line 407, ../../scss/components/theme.scss */
.display {
  margin: 0.5em 0 1em;
  /*8px 0 16px*/
  padding: 0.375em 1em;
  /*6px 16px*/
}

/* Module source wrapper */
/* line 417, ../../scss/components/theme.scss */
.source textarea {
  border: 1px solid #ccc;
  overflow: auto;
  padding: 0.5em;
  /*12px*/
  vertical-align: middle;
  font-size: 0.75em;
  /*12px*/
  line-height: 1.5;
  /*18px, off the system*/
  font-family: Consolas, Menlo, "Liberation Mono",Courier,monospace;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
  background: #f8f8f8;
}

/* ==========================================================================
   =Tables
   ========================================================================== */
/* line 434, ../../scss/components/theme.scss */
table {
  width: 100%;
}

/* line 439, ../../scss/components/theme.scss */
th,
td {
  padding: 1em;
  border: 1px solid #ccc;
  text-align: left;
}

/* line 445, ../../scss/components/theme.scss */
caption {
  padding: 1em;
}

/* ==========================================================================
   =Media object 
   http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ 
   http://jsfiddle.net/necolas/rZvEF/
   ========================================================================== */
/* line 455, ../../scss/components/theme.scss */
.media {
  margin: 10px;
}

/* line 459, ../../scss/components/theme.scss */
.media .img {
  float: left;
  margin: 0 10px 0 0;
}

/* line 464, ../../scss/components/theme.scss */
.media .img img {
  display: block;
}

/* line 468, ../../scss/components/theme.scss */
.media .img-ext {
  float: right;
  margin-left: 10px;
}

/*
 * 1. Create new block formatting context in modern browsers
 * 2. Avoid shrink-wrap behaviour of table-cell
 * 3. Override for IE6/7
 * 4. Create new block formatting context in IE6/7
 * Alternatively, use `overflow:hidden` if clipping is OK
 * www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 * facebook.com
*/
/* line 483, ../../scss/components/theme.scss */
.media .content {
  display: table-cell;
  /* 1 */
  width: 10000px;
  /* 2 */
}

/* line 488, ../../scss/components/theme.scss */
.ie7 .media .content {
  width: auto;
  /* 3 */
  zoom: 1;
  /* 4 */
}

/* ----- REUSABLE ICONS ----- */
/* line 494, ../../scss/components/theme.scss */
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
  background: url(http://placekitten.com/16/16);
}

/* line 502, ../../scss/components/theme.scss */
.icon-a {
  background-position: 0 0;
}
