/**
 * 
 * Mobile First stylesheet for all the browsers.
 *
 * @author Aki Karkkainen
 * @url https://github.com/akikoo/one-web-boilerplate
 * Twitter: http://twitter.com/akikoo
 * 
 */
/* ==========================================================================
   @group Elements. Base/Mobile First, opinionated layout-less default styles 
   (mini reset, and global colour and typography styles for base elements. 
   No classes/IDs here. 

   Extending normalize.css which is included before these styles.

   Begin with a layout-less version and serve only default, linear layout.
   Remember these rules are applied also in older desktop browsers that don't 
   support media queries.
   ========================================================================== */
/* Enable this if you want to reset ALL paddings and margins; CSSLint will throw 
   a warning though.
* {
    margin: 0;
    padding: 0;
}
*/
/* line 36, ../../scss/common/elements.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 40, ../../scss/common/elements.scss */
body {
  font-size: 100%;
  /* 16px (assuming browser default is 16px) */
  line-height: 1;
  /* 16px */
}

/* ==========================================================================
   Links
   ========================================================================== */
/* ==========================================================================
   Typography
   ========================================================================== */
/* 
 * Typefaces: Sans-serif
 */
/* 
 * Typefaces: Serif
 */
/* ==========================================================================
   Lists
   ========================================================================== */
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 89, ../../scss/common/elements.scss */
img {
  vertical-align: middle;
}

/*
 * Flexible images and embedded videos
 */
/* line 101, ../../scss/common/elements.scss */
img,
audio,
video,
object,
embed,
svg {
  max-width: 100%;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Remove default fieldset styles.
 */
/* line 118, ../../scss/common/elements.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 128, ../../scss/common/elements.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Tables
   ========================================================================== */
