/**
 * 
 * Utility styles from the HTML5 boilerplate (both mobile and desktop versions)
 * 
 * Credits: big thanks to the H5BP dev community and team
 * http://html5boilerplate.com
 * http://html5boilerplate.com/mobile
 * 
 * @author Aki Karkkainen (I'm only pulling stuff together from the fantastic resources mentioned above)
 * @url https://github.com/akikoo/one-web-boilerplate
 * Twitter: http://twitter.com/akikoo
 *
*/
/* 1) Non-semantic helper classes from the HTML5 boilerplate
------------------------------------------------------------------------------*/
/* For image replacement */
/* line 20, ../../scss/common/utilities.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 31, ../../scss/common/utilities.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 36, ../../scss/common/utilities.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 42, ../../scss/common/utilities.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 55, ../../scss/common/utilities.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 65, ../../scss/common/utilities.scss */
.invisible {
  visibility: hidden;
}

/* Micro clearfix (http://nicolasgallagher.com/micro-clearfix-hack/) */
/* line 71, ../../scss/common/utilities.scss */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

/* line 76, ../../scss/common/utilities.scss */
.cf:after {
  clear: both;
}

/* line 80, ../../scss/common/utilities.scss */
.ie7 .cf {
  zoom: 1;
}

/* 2) Styles from the HTML5 Mobile boilerplate
------------------------------------------------------------------------------*/
/*	Prevent mobile zooming while remain desktop zooming.
    github.com/shichuan/mobile-html5-boilerplate/issues/closed#issue/14
*/
/* line 91, ../../scss/common/utilities.scss */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}

/* prevent callout */
/* line 97, ../../scss/common/utilities.scss */
.nocallout {
  -webkit-touch-callout: none;
}

/*Text overflow with ellipsis
https://github.com/shichuan/mobile-html5-boilerplate/wiki/The-Style
*/
/* line 104, ../../scss/common/utilities.scss */
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* A hack for HTML5 contenteditable attribute on mobile */
/* line 111, ../../scss/common/utilities.scss */
textarea.contenteditable {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* 3) Other utility classes
------------------------------------------------------------------------------*/
/* line 120, ../../scss/common/utilities.scss */
.left-align {
  float: left;
}

/* line 124, ../../scss/common/utilities.scss */
.right-align {
  float: right;
}

/* line 128, ../../scss/common/utilities.scss */
.width-50 {
  width: 50%;
}

/* line 132, ../../scss/common/utilities.scss */
.width-33 {
  width: 33.33333333%;
}

/* line 136, ../../scss/common/utilities.scss */
.break-word {
  word-wrap: break-word;
}
