@import url(../../assets/css/common/normalize.css);
/*
  The stylesheets are imported in the following order:

                | @import "settings";                                  |
                | @import "functions/all";                             |
                | @import "mixins/all";                                |
                | @import "common/base";                               |
                |     @import "../../assets/css/common/normalize.css"; | 
                |     @import "elements";                              | 
                |     @import "utilities";                             | 
main.scss -->   | @import "components/layout";                         |  --> main.css  
                | @import "components/module";                         |
                |     @import "modules/styleguide";                    |
                |     @import "modules/media-object";                  |
                |     @import "modules/buttons";                       |
                |     @import "modules/forms";                         |
                |     ...                                              |
                | @import "components/state";                          |
                | @import "components/theme";                          |

*/
/* Base sizes */
/* browser default */
/* Font stacks */
/* 480/16 */
/* 768/16 */
/* 992/16 */
/* 1382/16 */
/* ==========================================================================
   @group Base imports
   ========================================================================== */
/* 1. Reset styles, keep this outside CSSLint check as it's 3rd party code */
/* ==========================================================================
   @group Base
   ========================================================================== */
/* Enable this if you want to reset ALL paddings and margins; CSSLint will throw 
   a warning though.
* {
    margin: 0;
    padding: 0;
}
*/
/* 
 * Apply a natural box layout model to all elements.
 * http://paulirish.com/2012/box-sizing-border-box-ftw/
 */
/* line 37, ../scss/common/_elements.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 45, ../scss/common/_elements.scss */
html,
button,
input,
select,
textarea {
  color: #222222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 50, ../scss/common/_elements.scss */
body {
  font-size: 1em;
  /* 16px */
  line-height: 1.5;
  /* 24px */
}

/* 
 * =hr (a better looking default horizontal rule)
 */
/* line 58, ../scss/common/_elements.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dddddd;
  margin: 1.5em 0;
  padding: 0;
}

/* ==========================================================================
   @group Links
   ========================================================================== */
/* line 71, ../scss/common/_elements.scss */
a {
  color: #3399cc;
  text-decoration: none;
  border-bottom: 1px solid #3399cc;
  white-space: pre-wrap;
}

/* line 83, ../scss/common/_elements.scss */
a:hover,
a:active {
  color: #3399cc;
  border-bottom-color: #dddddd;
}

/* ==========================================================================
   @group Typography
   ========================================================================== */
/* 
 * Typefaces: Sans-serif
 */
/* 
 * Typefaces: Serif
 */
/* line 107, ../scss/common/_elements.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  font-weight: normal;
}

/* line 112, ../scss/common/_elements.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin: 1em 0 1em;
}

/* line 118, ../scss/common/_elements.scss */
h2 {
  font-size: 1.5em;
  line-height: 1;
  margin: 0 0 1em;
}

/* line 124, ../scss/common/_elements.scss */
h3 {
  color: black;
  font-size: 1.3125em;
  line-height: 1.14285714285714;
  margin: 0 0 1.14285714285714em;
}

/* line 131, ../scss/common/_elements.scss */
h4 {
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 1.5em;
  font-weight: bold;
}

/* line 138, ../scss/common/_elements.scss */
h5 {
  font-size: 0.875em;
  line-height: 1.71428571428571;
  margin: 0 0 1.71428571428571em;
  text-transform: uppercase;
  letter-spacing: 0.071428571428571em;
  color: #555;
}

/* line 147, ../scss/common/_elements.scss */
h6 {
  font-size: 0.75em;
  line-height: 2;
  margin: 0 0 2em;
  text-transform: uppercase;
  letter-spacing: 0.083333333333333em;
  color: #555;
}

/* line 156, ../scss/common/_elements.scss */
blockquote {
  margin: 0 40px 1.5em;
}

/* line 161, ../scss/common/_elements.scss */
p,
pre {
  line-height: 1.5;
  margin: 0 0 1.5em;
}

/* ==========================================================================
   @group Grouped declarations
   ========================================================================== */
/* line 177, ../scss/common/_elements.scss */
ul,
ol,
dl,
menu,
hr,
table,
form,
fieldset {
  margin: 0 0 1.5em;
}

/* ==========================================================================
   @group Lists
   ========================================================================== */
/* line 189, ../scss/common/_elements.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
}

/* line 193, ../scss/common/_elements.scss */
dt {
  font-weight: bold;
}

/* ==========================================================================
   @group Embedded content
   ========================================================================== */
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 205, ../scss/common/_elements.scss */
img {
  vertical-align: middle;
}

/* line 209, ../scss/common/_elements.scss */
img {
  background: #fff;
  border: 1px solid #dddddd;
  display: block;
  margin: 0;
  max-width: 97%;
  padding: 5px;
}

/*
 * Flexible images and embedded videos
 */
/* line 227, ../scss/common/_elements.scss */
img,
audio,
video,
object,
embed,
svg {
  max-width: 100%;
  height: auto;
  /* http://www.brucelawson.co.uk/2012/responsive-web-design-preserving-images-aspect-ratio/ */
}

/* ==========================================================================
   @group Figures
   ========================================================================== */
/* ==========================================================================
   @group Forms - see Forms module!
   ========================================================================== */
/* ==========================================================================
   @group Tables
   ========================================================================== */
/* line 246, ../scss/common/_elements.scss */
table {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

/* line 251, ../scss/common/_elements.scss */
caption {
  font-weight: bold;
  text-align: left;
}

/* line 257, ../scss/common/_elements.scss */
td,
th {
  text-align: left;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 2px 6px;
}

/* line 264, ../scss/common/_elements.scss */
th {
  background: #eeeeee;
}

/* 2. Mobile first base styles (SCSS partial) */
/* ==========================================================================
   @group Utilities (H5BP). Helper classes from the HTML5 Mobile boilerplate.
   ========================================================================== */
/* Prevent callout */
/* line 24, ../scss/common/_utilities.scss */
.nocallout {
  -webkit-touch-callout: none;
}

/* line 28, ../scss/common/_utilities.scss */
.pressed {
  background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */
/* line 33, ../scss/common/_utilities.scss */
textarea[contenteditable] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
/* line 40, ../scss/common/_utilities.scss */
.gifhidden {
  position: absolute;
  left: -100%;
}

/*
 * Image replacement
 */
/* line 48, ../scss/common/_utilities.scss */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

/* line 59, ../scss/common/_utilities.scss */
.ir br {
  display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 66, ../scss/common/_utilities.scss */
.is-hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 74, ../scss/common/_utilities.scss */
.is-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 90, ../scss/common/_utilities.scss */
.is-visuallyhidden.focusable:active,
.is-visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 102, ../scss/common/_utilities.scss */
.is-invisible {
  visibility: hidden;
}

/* ==========================================================================
   @group Utilities (other)
   ========================================================================== */
/* 
 * Visually hiding content that will be read by a screen reader.
 */
/* line 115, ../scss/common/_utilities.scss */
.accessibility a {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Active when the user tabs to the link */
/* line 125, ../scss/common/_utilities.scss */
.accessibility a:focus {
  position: static;
  width: auto;
  height: auto;
}

/* line 131, ../scss/common/_utilities.scss */
.break-word {
  word-wrap: break-word;
}

/* line 135, ../scss/common/_utilities.scss */
.is-disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* 3. HTML5 boilerplate helper classes (SCSS partial) */
/* 1. Reset, base elements, utilities */
/* ==========================================================================
   @group Layout
   ========================================================================== */
/* 
 * Center the layout and set max width too. 
 */
/* line 33, ../scss/components/_layout.scss */
.layout-constrained {
  width: 95%;
  max-width: 62em;
  margin: 0 auto;
}

/* 2. Layout                          */
/* ==========================================================================
   @group Module imports
   ========================================================================== */
/* ==========================================================================
   @group Buttons
   ========================================================================== */
/* line 7, ../scss/components/modules/_buttons.scss */
button,
input[type="button"],
input[type="submit"] {
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
  color: #222222;
  border: 1px solid #dddddd;
  margin: 0 0 1.5em;
  background-color: #dddddd;
  /* Old browsers */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#f8f8f8, #dddddd);
  background-image: -moz-linear-gradient(#f8f8f8, #dddddd);
  background-image: -o-linear-gradient(#f8f8f8, #dddddd);
  background-image: linear-gradient(#f8f8f8, #dddddd);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.03) inset;
  -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.03) inset;
}

/* ==========================================================================
   @group Forms
   ========================================================================== */
/* 
 * Remove default fieldset styles. 
 */
/* line 8, ../scss/components/modules/_forms.scss */
fieldset {
  border: 0;
  padding: 0;
}

/* 
 * Allow only vertical resizing of textareas. 
 */
/* line 16, ../scss/components/modules/_forms.scss */
textarea {
  resize: vertical;
}

/* 
 * Wrapper for label and input groups (radio buttons, checkboxes). 
 */
/* 
 * Wrapper for label and input. 
 */
/* line 30, ../scss/components/modules/_forms.scss */
.control {
  margin: 0.8em 0;
}

/* 
 * Wrapper for label and input inside a group (radio buttons, checkboxes). 
 */
/* 
 * Wrapper for submit button. 
 */
/* 
 * Label for single inputs (and legend for input groups). 
 */
/* line 53, ../scss/components/modules/_forms.scss */
.label-text,
.label-select,
.label-file {
  display: block;
}

/* line 57, ../scss/components/modules/_forms.scss */
label {
  cursor: pointer;
}

/*
 * See http://www.456bereastreet.com/archive/201210/how_to_line_wrap_text_in_legend_elements_even_in_ie/
 */
/* line 64, ../scss/components/modules/_forms.scss */
legend {
  display: table;
  /* Enable line-wrapping in IE8+ */
}

/* 
 * Radio button and checkbox labels. 
 */
/* 
 * Message next to input elements. 
 */
/* 
 * Text input styles. 
 */
/*input*/
/* line 88, ../scss/components/modules/_forms.scss */
.control-text,
select,
textarea {
  border: 1px solid #dddddd;
  display: block;
  width: 100%;
  padding: 0.25em;
}

/* ==========================================================================
   @group Logo
   ========================================================================== */
/* Site logo */
/*a*/
/* line 6, ../scss/components/modules/_logo.scss */
.logo {
  color: #222222;
  background: #fee620;
  display: block;
  padding: 1.5em 1.5em;
  /* 24 / 32 = 0.75em */
  margin: 0.75em 0 0;
  border-bottom: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/*a*/
/* line 18, ../scss/components/modules/_logo.scss */
.logo:hover,
.logo:active,
.logo:focus {
  color: #222222;
}

/* ==========================================================================
   @group Media Object
   http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ 
   http://jsfiddle.net/necolas/rZvEF/
   ========================================================================== */
/*
 * 1. Create new block formatting context in modern browsers
 * 2. Avoid shrink-wrap behaviour of table-cell
 * 3. Override for IE6/7
 * 4. Create new block formatting context in IE6/7
 * Alternatively, use `overflow:hidden` if clipping is OK
 * www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 * facebook.com
 */
/* line 16, ../scss/components/modules/_media-object.scss */
.media {
  margin: 0 0 1em;
  *zoom: 1;
}
/* line 18, ../scss/components/modules/_media-object.scss */
.media .media__img {
  float: left;
  margin: 0 10px 0 0;
}
/* line 21, ../scss/components/modules/_media-object.scss */
.media .media__img img {
  display: block;
}
/* line 25, ../scss/components/modules/_media-object.scss */
.media .media__img--ext {
  float: right;
  margin: 0 0 0 10px;
}
/* line 29, ../scss/components/modules/_media-object.scss */
.media .media__body {
  display: table-cell;
  /* 1 */
  width: 10000px;
  /* 2 */
  *width: auto;
  /* 3 */
  *zoom: 1;
  /* 4 */
}
/* line 35, ../scss/components/modules/_media-object.scss */
.media p {
  margin: 0 0 1em;
}
/* line 19, ../scss/mixins/_all.scss */
.media:before, .media:after {
  content: "";
  display: table;
}
/* line 23, ../scss/mixins/_all.scss */
.media:after {
  clear: both;
}

/*
 * Reusable  icons
 */
/* line 45, ../scss/components/modules/_media-object.scss */
.media__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
  background: url(http://placekitten.com/16/16);
}

/* line 53, ../scss/components/modules/_media-object.scss */
.media__icon--a {
  background-position: 0 0;
}

/* ==========================================================================
   @group Styleguide display and source wrappers
   ========================================================================== */
/* 
 * Styleguide module 
 */
/* line 8, ../scss/components/modules/_styleguide.scss */
.styleguide {
  clear: both;
  float: left;
  width: 100%;
}

/* 
 * Styleguide module heading 
 */
/* line 17, ../scss/components/modules/_styleguide.scss */
.styleguide__heading {
  padding: 0.285714285714286em 1%;
  border-left: 0.5em solid #fee620;
  /* 24 / 48 */
}

/* 
 * Styleguide module display wrapper 
 */
/*div*/
/* line 25, ../scss/components/modules/_styleguide.scss */
.styleguide__display {
  float: left;
  width: 60%;
}

/* 
 * Module source wrapper 
 */
/*textarea*/
/* line 35, ../scss/components/modules/_styleguide.scss */
.styleguide__source {
  width: 100%;
  outline: 1px solid #dddddd;
  border: none;
  overflow: auto;
  padding: 0 1px;
  vertical-align: middle;
  font-size: 0.6875em;
  line-height: 1.45454545454546;
  /* Custom line-height */
  font-family: "Bitstream Vera Sans", Consolas, Menlo, "Lucida Console", "Liberation Mono", Courier, monospace;
  box-shadow: none;
  margin: 0 0 1.5em;
  height: 12em;
  float: right;
  width: 36%;
}

/* 3. Modules                         */
/* ==========================================================================
   @group State
   ========================================================================== */
/* 4. State (Layout and Modules)      */
/* ==========================================================================
   @group Theme
   ========================================================================== */
/* 5. Theme styles (not always needed)*/
