@import "common/normalize.css";

@import "common/base.css";

@import "common/utilities.css";

@import "common/theme.css";
/**
 * 
 * Modular styles for browsers that don't support Media Queries 
 * This means legacy IE 6/7/8
 * 
 * Alternatively, this file could be used to build an old-school non-responsive 
 * website, where the @import-ed stylesheets could be various standalone modules 
 * on the page. You decide, it obviously depends on the project.
 *
 * These enhance and sometimes override the primary (mobile first) styles.
 * Layout styles (width, float etc.) and styles for extra elements.
 * 
 * We are @import-ing the same stylesheets than for more capable browsers, but 
 * this time without Media Queries. Media Queries are stripped out during the 
 * build process. This way, we can serve less capable browsers a mid-screen sized 
 * desktop version. The minified version of this file is served with conditional 
 * comments for IE (or for all browsers if it's a one-size-fits-all kind of project). 
 * 
 * Credits & inspiration: 
 * http://forabeautifulweb.com/blog/about/hardboiled_css3_media_queries/
 * http://forabeautifulweb.com/blog/about/320_and_up/
 * http://html5boilerplate.com/mobile
 * http://adactio.com/journal/1700/
 * http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/
 * http://nicolasgallagher.com/mobile-first-css-sass-and-ie/
 * 
 * @author Aki Karkkainen
 * @url https://github.com/akikoo/one-web-boilerplate
 * Twitter: http://twitter.com/akikoo
 *
 */
/*==============================================================================
  Base styles
==============================================================================*/
/* 1. Reset styles						  */
/* 2. Mobile first styles for all browsers*/
/* 3. HTML5 boilerplate helper classes    */
/* 4. Temp skin styles, should be removed */
/*==============================================================================
  (A) Modular styles for each range (these are simply inlined without Media Queries, 
  so watch out cascading!)
==============================================================================*/
/**
 * ==|== 320-up ====
 * 
 * 320px and up
 * 
 * Overlapping Media Query
 *
 * Widths are defined in ems, based on generic browser default 
 * setting of 16px font size.
 *
 * These enhance and sometimes override the primary (mobile first) styles.
 * 
 * Credits: 
 * http://forabeautifulweb.com/blog/about/hardboiled_css3_media_queries/
 * http://forabeautifulweb.com/blog/about/320_and_up/
 * http://html5boilerplate.com/mobile
 * http://adactio.com/journal/1700/
 * http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/
 * http://nicolasgallagher.com/mobile-first-css-sass-and-ie/
 * 
 * @url https://github.com/akikoo/one-web-boilerplate
 * Twitter: http://twitter.com/akikoo
 *
 */
/*==============================================================================	
	320px and up
	
	Em conversion: 
	320 / 16 = 20em
==============================================================================*/
/** 
	 * Generic style adjustments for viewports 320px and over go here 
	 * Remember these styles cascade into all sizes above 320px 
	 */
/**  
	 * We sometimes want the footer to always stay at the bottom
	 * If not, just remove this block 
	 * 
	 * Sticky Footer Solution by Steve Hatcher 
	 * http://stever.ca
	 * http://www.cssstickyfooter.com
	 * 
	 * NOTE: Use padding, not margins or borders to create spacing inside the elements
	 * Place your content elements inside the main div
	 * A header could be placed inside the #page but above the main
	 * Structure:
	   <div class="page">
		 <div role="main"></div>
		 </div>
	   <div role="contentinfo">
	   </div>
	 */
html, body {
  height: 100%;
}
.page {
  min-height: 100%;
}
[role="main"] {
  overflow: auto;
  padding-bottom: 60px;
  /*must be same height as the footer*/

}
[role="contentinfo"] {
  position: relative;
  margin-top: -60px;
  /*negative value of footer height*/

  height: 60px;
  clear: both;
}
/*END Sticky footer*/
/**
 * ==|== 480-up ====
 * 
 * 480px and up  
 * 
 * Overlapping Media Query
 *
 * Widths are defined in ems, based on generic browser default 
 * setting of 16px font size.
 *
 * These enhance and sometimes override the primary (mobile first) styles.
 * 
 * Credits: 
 * http://forabeautifulweb.com/blog/about/hardboiled_css3_media_queries/
 * http://forabeautifulweb.com/blog/about/320_and_up/
 * http://html5boilerplate.com/mobile
 * http://adactio.com/journal/1700/
 * http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/
 * http://nicolasgallagher.com/mobile-first-css-sass-and-ie/
 * 
 * @url https://github.com/akikoo/one-web-boilerplate
 * Twitter: http://twitter.com/akikoo
 *
 */
/*==============================================================================
	480px and up  
	
	Em conversion: 
	480 / 16 = 30em
==============================================================================*/
/* Style adjustments for viewports 480px and over go here */
/**
 * ==|== 768-up ====
 * 
 * 768px and up 
 * 
 * Overlapping Media Query
 *
 * Widths are defined in ems, based on generic browser default 
 * setting of 16px font size.
 *
 * These enhance and sometimes override the primary (mobile first) styles.
 * 
 * Credits: 
 * http://forabeautifulweb.com/blog/about/hardboiled_css3_media_queries/
 * http://forabeautifulweb.com/blog/about/320_and_up/
 * http://html5boilerplate.com/mobile
 * http://adactio.com/journal/1700/
 * http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/
 * http://nicolasgallagher.com/mobile-first-css-sass-and-ie/
 * 
 * @url https://github.com/akikoo/one-web-boilerplate
 * Twitter: http://twitter.com/akikoo
 *
 */
/*==============================================================================
	768px and up 
	
	Em conversion: 
	768 / 16 = 48em
==============================================================================*/
/* Style adjustments for viewports 768px and over go here */
/**
 * ==|== 992-up ====
 * 
 * 992px and up 
 * 
 * Overlapping Media Query
 *
 * Widths are defined in ems, based on generic browser default 
 * setting of 16px font size.
 *
 * These enhance and sometimes override the primary (mobile first) styles.
 * 
 * Credits: 
 * http://forabeautifulweb.com/blog/about/hardboiled_css3_media_queries/
 * http://forabeautifulweb.com/blog/about/320_and_up/
 * http://html5boilerplate.com/mobile
 * http://adactio.com/journal/1700/
 * http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/
 * http://nicolasgallagher.com/mobile-first-css-sass-and-ie/
 * 
 * @url https://github.com/akikoo/one-web-boilerplate
 * Twitter: http://twitter.com/akikoo
 *
 */
/*==============================================================================
	992px and up 

	Em conversion: 
	992 / 16 = 62em
==============================================================================*/
/* Style adjustments for viewports 992px and over go here */
/*==============================================================================
  (B) Standalone modules instead, if you prefer that way. 

  This file is served to browsers that don't support Media Queries, so you may 
  decide to reuse the above stylesheets under css/mq-overlap/*, or include your 
  own modular ones here
==============================================================================*/
/* Any module CSS files @import-ed here... */
