/* ==========================================================================
   @group Buttons
   ========================================================================== */

button,
input[type="button"],
input[type="submit"] {
    padding: 0.5em;
    text-align: center;
    cursor: pointer;
    color: $color-text;
    border: 1px solid $color-border;
    margin: 0 0 x-relative-size($base-line-height);
    // Enable SVG gradient support in Opera and IE9
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(rgba(248,248,248,1), rgba(221,221,221,1)));
    @include border-radius(5px);
    @include box-shadow(rgba(0, 0, 0, 0.03) 0 -1px 0 inset);
}