/* ==========================================================================
   @group Forms
   ========================================================================== */

/* 
 * Override default fieldset styles. 
 */
fieldset {
    border: 1px solid $color-border;
}

/* 
 * Allow only vertical resizing of textareas. 
 */
textarea {
    resize: vertical;
}

/* 
 * Wrapper for label and input groups (radio buttons, checkboxes). 
 */
.control-group {

}

/* 
 * Wrapper for label and input. 
 */
.control {
    margin: 0.8em 0;
}

/* 
 * Wrapper for label and input inside a group (radio buttons, checkboxes). 
 */
.control-group .control {

}

/* 
 * Wrapper for submit button. 
 */
.control-submit {

}
        
/* 
 * Label for single inputs (and legend for input groups). 
 */
.label-text, 
.label-select, 
.label-file  {

}

label {
    cursor: pointer;
}

/*
 * See http://www.456bereastreet.com/archive/201210/how_to_line_wrap_text_in_legend_elements_even_in_ie/
 */
legend {
    display: table; /* Enable line-wrapping in IE8+ */
}

/* 
 * Radio button and checkbox labels. 
 */
.label-check, 
.label-radio {

}

/* 
 * Message next to input elements. 
 */
.inline-message {

}

/* 
 * Text input styles. 
 */
/*input*/.control-text, 
select, 
textarea {
    border: 1px solid $color-border;
    padding: x-relative-size($base-line-height, 96);
}
