/* ==========================================================================
   @group Logo
   ========================================================================== */

/* Site logo */
/*a*/.logo {
    color: $color-logo-text;
    display: block;
    padding: x-relative-size($base-line-height, 16) 0; /* 24 / 32 = 0.75em */
    border-bottom: none;
}

/*a*/.logo:hover, 
/*a*/.logo:active, 
/*a*/.logo:focus {
    color: $color-logo-text;
}