/* ==========================================================================
   @group Logo
   ========================================================================== */

/* Site logo */
/*a*/.logo {
    color: $color-logo-text;
    background: $color-logo-background;
    display: block;
    padding: x-relative-size($base-line-height, 16) x-relative-size($base-line-height, 16); /* 24 / 32 = 0.75em */
    margin: x-relative-size($base-line-height, 32) 0 0;
    border-bottom: none;
    @include border-radius(4px);
}

/*a*/.logo:hover, 
/*a*/.logo:active, 
/*a*/.logo:focus {
    color: $color-logo-text;
}