/* ==========================================================================
   @group Styleguide display and source wrappers
   ========================================================================== */

/* 
 * Styleguide module 
 */
.styleguide {
    clear: both;
    float: left;
    width: 100%;
}

/* 
 * Styleguide module heading 
 */
.styleguide__heading {
    padding: x-relative-size($base-line-height, 84) 1%;
    border-left: x-relative-size($base-line-height, 48) solid $color-logo-background; /* 24 / 48 */
}

/* 
 * Styleguide module display wrapper 
 */
/*div*/.styleguide__display {
    @include x-respond-to($breakpoint-medium) { 
        float: left;
        width: 60%;
    }
}

/* 
 * Module source wrapper 
 */
/*textarea*/.styleguide__source {
    width: 100%;
    outline: 1px solid $color-border;
    border: none;
    overflow: auto;
    padding: 0 1px; 
    vertical-align: middle;
    font-size: x-relative-size(11); 
    line-height: x-relative-size(16, 11, ''); /* Custom line-height */
    font-family: $font-family-monospace;
    box-shadow: none;
    margin: 0 0 x-relative-size($base-line-height);
    height: 12em;
    @include x-respond-to($breakpoint-medium) { 
        float: right;
        width: 36%;
        @include x-old-ie {
            // These hacks won't appear in the normal stylesheet
        }
    }
}

.styleguide .l-cell {
    background: #ddd;
}