// ========================================================================== //
// SCSS mixins for One Web Boilerplate.
//
// @author Aki Karkkainen (see inline credits however)
// @url https://github.com/akikoo/one-web-boilerplate
// Twitter: http://twitter.com/akikoo
//
// Prefix custom functions with x- or another namespace.
// See https://github.com/necolas/idiomatic-css
// ========================================================================== //


// The micro clearfix
// ==================
// Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin x-clearfix() {
    *zoom: 1; // For IE 6/7 only. Include this rule to trigger hasLayout and contain floats.
    &:before, 
    &:after {
        content: ""; 
        display: table; 
    }
    &:after {
        clear: both; 
    }
}


// Media queries
// =============
// Mixin inspired by 
// http://jakearchibald.github.com/sass-ie/
// http://alwaystwisted.com/post.php?s=2013-04-01-my-media-query-mixin
$fix-mqs: false !default;
@mixin x-respond-to($breakpoint, $query1: min, $query2: width) {

    // Old-IE gets a mid-screen sized desktop version, with styles up until predefined width ($fix-mqs).
    @if $fix-mqs {
        @if $fix-mqs >= $breakpoint {
            @content;
        }
    }
    // Modern browsers
    @else {
        @media only screen and (#{$query1}-#{$query2}: $breakpoint) { 
            @content; 
        }
    }
}


// Old-IE
// ======
// See http://jakearchibald.github.com/sass-ie/
$old-ie: false !default;
@mixin x-old-ie {
    @if $old-ie {
        @content;
    }
}


// Set font size in rems with a pixel fallback
// ===========================================
// See https://github.com/csswizardry/CSS-Guidelines
@mixin x-font-size($font-size){
    font-size: $font-size +px;
    font-size: $font-size / $base-font-size +rem;
}


// Border radius --Obsolete, use Compass instead
// =============
@mixin x-border-radius($radius: 4px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}


// Box shadow --Obsolete, use Compass instead
// ==========
@mixin x-box-shadow($shadow: 0 1px 3px rgba(0, 0, 0, .25)) {
-webkit-box-shadow : $shadow;
-moz-box-shadow : $shadow;
box-shadow : $shadow; }


// Gradient (vertical) --Obsolete, use Compass instead
// ===================
@mixin x-gradient-vertical($startColor : $white, $endColor:  $lightergrey) {
    background-color  : $endColor; /* Old browsers */
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $startColor), color-stop(100%, $endColor));
    background-image: -webkit-linear-gradient($startColor, $endColor);
    background-image: -moz-linear-gradient($startColor, $endColor);
    background-image: -o-linear-gradient($startColor, $endColor);
    background-image: linear-gradient($startColor, $endColor);
}
